.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.title {
    font-size: 35px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover, a:active{
    color: darkgray;
}

table { 
    width: 75%;
}