/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Poppins; }
html, body { 
    margin: 0;
    height: 100%;
    background-color: #f7f7f7;
}


.title {
    font-family: Poppins;
    font-weight: 400;
}